# The NEXT_PUBLIC_ prefix is required for environment variables that are used in the client-side code.

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=clerk-publishable-key
CLERK_SECRET_KEY=clerk-secret-key
NEXT_PUBLIC_SUPABASE_URL=supabase-url
NEXT_PUBLIC_SUPABASE_KEY=supabase-key